@import 'variables';
@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  transform: translate(10px, 10px);
  font-size: 3rem;
  text-align: center;
  font-family: 'Wisper-Regular', sans-serif;
  background-color: #ffffff;
  color: $black;
}