.root {
  display: flex;
  align-items: center;
  gap: 8px;
}

.crumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 12px;
  background: #cccccc;
}
